@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*общие стили*/

h1 {
    font-family: 'Playfair Display SC', sans-serif;
    font-weight: 700;
    font-size: 88px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 64px;
}

h2 {
    font-family: 'Playfair Display SC', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin: 20px 0 57px 20px ;
}

p, a{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: 18px;
}

body {
    color: #000;
    margin: 40px;
}

.tg, .vk, .inst {
    width: 24px;
    height: 24px;
}

.str {
    width: 100%;
    height: 42px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.str div a {
    margin-right: 20px;
}

.str div a:last-child {
    margin-right: 0;
 }



/*навигация*/

a {
    color: #000;
    text-decoration: none;
    transition: color 0.1s;
}

a:hover {
    color: #857878;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000 ;
    padding-bottom: 40px;
}

.list {
    display: flex;
    gap: 30px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border: 1px solid #000;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: rgb(0, 0, 0, 0.12);
}

/*приветственная секция*/

.name {
    height: 103px;
    width: 100%;
    padding-top: 64px;
}

.subtitle {
    text-align: center;
    letter-spacing: 2px;
    margin: 108px 0;
}

.firstI {
    height: 600px;
    width: 100%;
}

/*обо мне*/

.aboutme {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    height: 466px;
    width: 440px;
}

.text p {
    margin-bottom: 65px;
    font-size: 20px;
    letter-spacing: 1px;
}

.text p:last-child {
    margin-bottom: 0;
}

.imgabout {
    height: 466px;
    width: 440px;
}

.advantages {
    padding-left: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    row-gap: 40px;
    height: 466px;
    width: 440px;
}

.advantages img {
    width: 60px;
    height: 60px;
    justify-self: start;
}

.advantages p {
    margin: 0;
}

.social {
    height: 24px;
    width: 112px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.social img, .str img {
    height: 24px;
    width: 24px;
}

/*портфолио*/

.portfolio {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    height: 1580px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.portfolio p {
    font-weight: 600;
    font-size: 24px;
}

.niz {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

.arrow {
    transition: border 0.1s;
}

.arrow:hover {
    border: 1px solid #000;
}

/*навыки*/

.skills {
    display: flex;
    gap: 32px;
}

.skills div {
    background-color: #e5e5e5;
    height: 346px;
    width: 100%;
}

.skills img {
    width: 44px;
    height: 44px;
}

.cart {
    display: flex;
    flex-direction: column;
    border: 3px solid #000;
    padding: 20px;
}

.skill_item {
    display: flex;
    align-items: center;
    gap: 10px;
}

/*блог*/

.blog {
    height: 421px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
}

.bl {
    margin: 0 0 32px 0;
}

.data {
    margin-bottom: 32px;
}

.opis {
    margin-bottom: 56px;
}

.blog div {
    width: 440px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 25.6px rgba(0, 0, 0, 0.25);
}

/*футер*/

.end {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 40px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.footer_list li {
    margin-bottom: 56px;
}

.footer_list li:last-child {
    margin-bottom: 0;
}

.foot p {
    margin-bottom: 56px;
}

.foot div {
    margin-bottom: 56px;
    display: flex;
    gap: 20px;
}

/*форма*/

form {
    width: 555px;
    padding: 40px;
    background: #E5E5E5;
    border: 1px solid #000;
}
        
form input {
    width: 100%;
    padding: 16px;
    border: none; 
    box-sizing: border-box;
}

form div {
    margin-bottom: 12px;
}
  
form div:last-of-type {
    margin-bottom: 32px;
}
  
  
.submit-btn {
    width: 100%;
    padding: 12px;
    border: 1px solid #000;
    cursor: pointer;
}
        
/*темная тема*/

.dark-theme {
  background-color: #3C3C3C;
  color: #ffffff;
}

.dark-theme,
.dark-theme .header,
.dark-theme .portfolio,
.dark-theme .end,
.dark-theme .btn,
.dark-theme .submit-btn,
.dark-theme .cart,
.dark-theme .arrow:hover {
  border-color: #ffffff;
}

.dark-theme a {
  color: #bbbbbb;
}

.dark-theme a:hover {
  color: #ffffff;
}

.dark-theme .btn {
  color: #ffffff;
}

.dark-theme .btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dark-theme .skills div {
    background-color: #535353;
}

.dark-theme .social img,
.dark-theme .str img,
.dark-theme .tg,
.dark-theme .vk,
.dark-theme .inst,
.dark-theme .arrow,
.dark-theme .name,
.dark-theme .advantages img,
.dark-theme .skills img,
.dark-theme .header_logo{
  filter: brightness(0) invert(1);
}

#themeToggle {
  position: fixed;
  top: 8px;
  right: 8px;
  padding: 8px 16px;
  background: #333;
  color: white;
  cursor: pointer;
}

.dark-theme #themeToggle {
  background: #ffffff;
  color: #333333;
}

button {
  background: #f0f0f0;
  border: 1px solid #ccc;
  transition: background 0.3s;
}

button:hover {
  background:  #e0e0e0;
}

/*кнопка скрытия блоков*/

.toggle-button {
  padding: 8px 12px;
  margin-bottom: 8px;
  cursor: pointer;
}